body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #382c49;
}
button {
  overflow: hidden;
  outline: none;
  position: relative;
  cursor: pointer;
  background: #382c49;
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 1.5px solid #f99417;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  height: 5rem;
}

.ripple {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ripple > span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  animation: ripple 650ms linear;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
